<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1, h2, h3, h4, h5, h6 {
  color: green;
}
    </style>
</head>
<body style="background-color: coral">
{% extends 'blog/base.html' %}
 {% block content %}
     <h1>about durgasoft</h1>
     <p><b>DURGA SOFTWARE SOLUTIONS an ISO 9001:2008 Certified Organization,a divsion of Durga organizations is the one and only place
         providing in-depth training on all latest Java/J2ee technologies and Java Certifications and Microsoft .Net for the last decade .</b></p>
     <h3>contact durgasoft</h3>
     <pre style="color: blue">
     Plot No : 202, IInd Floor ,
     HUDA Maitrivanam, AmeerpetAmeerpet,Hyderabad, India - 500082Landmark
     </pre>
 {% endblock %}

</body>
</html>